@model PriceFilterViewModel

<form asp-action="FilterByCost">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CostFrom" class="control-label"></label>

        <b>$ 10</b>
        <input type="text" id="price-range" />
        <b>$ 5000</b>

        <input asp-for="CostFrom" type="hidden" id="cost-from"/>
        <input asp-for="CostTo" type="hidden" id="cost-to"/>

        <span asp-validation-for="CostFrom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" id="price-filter" value="Поиск" class="btn btn-default" />
    </div>
</form>