@model SearchClientViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchClient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Client" class="control-label"></label>
                <input asp-for="Client" class="form-control" placeholder="Введите клиента..."/>
                <span asp-validation-for="Client" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Найти" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>