@using Ontourage.Web.Models.Sql

@model SqlQueryViewModel

@{
    ViewBag.Title = "SQL редактор";
    Layout = "_Layout";
}

<h2>SQL редактор</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="GetResult" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Query" class="control-label"></label>
                <textarea asp-for="Query" class="form-control"></textarea>
                <span asp-validation-for="Query" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Выполнить" class="btn btn-default" />
            </div>
        </form>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <span>@Model.ErrorMessage</span>
    }
</div>